//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <4 14 25 33 34 32 0 1 2 3 10 11 12 13 22 23 24 21 20>;
            hold-trigger-on-release;
        };

        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 36 37 35>;
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        to-base-layer {
            bindings = <&to 0>;
            key-positions = <20 31>;
            require-prior-idle-ms = <100>;
            layers = <4 5>;
        };

        aoe4-city-center {
            bindings = <&kp H>;
            key-positions = <13 12>;
            layers = <5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
              &kp Q              &kp W                &kp E            &kp R            &kp T        &kp Y    &kp U             &kp I             &kp O                 &kp P
              &hml LEFT_SHIFT A  &hml LEFT_CONTROL S  &hml LEFT_ALT D  &hml LEFT_GUI F  &kp G        &kp H    &hmr RIGHT_GUI J  &hmr RIGHT_ALT K  &hmr RIGHT_CONTROL L  &hmr RIGHT_SHIFT SEMICOLON
&lt 3 ESCAPE  &kp Z              &kp X                &kp C            &kp V            &kp B        &kp N    &kp M             &kp COMMA         &kp DOT               &kp SLASH                   &kp APOSTROPHE
                                                      &mt LCTRL DEL    &lt 2 TAB        &kp SPACE    &kp RET  &lt 1 BSPC        &kp MINUS
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
              &kp GRAVE       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS        &kp EQUAL  &kp HOME     &kp DELETE  &kp END        &kp RIGHT_CONTROL
              &kp LEFT_SHIFT  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS       &kp SLASH  &kp LEFT     &kp UP      &kp RIGHT      &kp RIGHT_SHIFT
&kp LEFT_ALT  &kp LEFT_WIN    &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0    &kp STAR   &kp PAGE_UP  &kp DOWN    &kp PAGE_DOWN  &kp RIGHT_GUI      &kp RIGHT_ALT
                                            &trans        &trans        &trans          &trans     &trans       &kp DOT
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
              &kp GRAVE       &kp NUMBER_1      &kp NUMBER_2      &kp NUMBER_3          &kp NUMBER_4      &kp NUMBER_5     &kp NUMBER_6           &kp NUMBER_7       &kp NUMBER_8  &kp NUMBER_9
              &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp LEFT_BRACE    &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &trans        &trans
&kp LEFT_ALT  &kp LEFT_GUI    &trans            &trans            &trans                &trans            &kp NUMBER_0     &kp EQUAL              &trans             &trans        &kp BACKSLASH  &kp APOS
                                                &trans            &trans                &studio_unlock    &kp SPACE        &trans                 &kp UNDERSCORE
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &trans  &trans  &trans  &trans  &to 4     &trans  &trans  &trans  &trans  &kp F1
        &trans  &trans  &trans  &trans  &tog 5    &trans  &trans  &trans  &trans  &kp F10
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &kp F20  &kp F7
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        WASD-Gaming {
            display-name = "Game";
            bindings = <
            &kp TAB         &kp Q  &kp X      &kp E         &kp R     &trans  &trans  &trans  &trans  &trans
            &kp LEFT_SHIFT  &kp A  &kp W      &kp D         &kp F     &trans  &trans  &trans  &trans  &trans
&kp ESCAPE  &kp Z           &kp C  &kp S      &kp V         &kp T     &trans  &trans  &trans  &trans  &trans  &trans
                                   &kp LCTRL  &kp LEFT_ALT  &trans    &trans  &trans  &trans
            >;
        };

        AOE4-Gaming {
            bindings = <
           &trans  &trans  &trans     &trans     &trans         &trans  &trans  &trans  &trans  &trans
           &kp N4  &kp N3  &kp N2     &kp N1     &trans         &trans  &trans  &trans  &trans  &trans
&kp LSHFT  &kp N0  &kp N6  &kp N7     &kp N8     &kp N9         &trans  &trans  &trans  &trans  &trans  &trans
                           &kp LSHFT  &kp LCTRL  &lt 0 SPACE    &trans  &trans  &trans
            >;

            label = "AOE4";
        };
    };
};
